*{
font-family: 'Poppins';
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.to-do h1{
    font-size: 40px;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.row button{
    border-radius: 0px 20px 20px 0px;
    width: 60px;
    border: none;
    padding: 5px;
    height: 40px;
    color: black;
    background: whitesmoke;
    cursor: pointer;
    font-size: 20px;
}
.row input{
    border-radius: 20px 0 0 20px;
    height: 40px;
    border: 1px solid whitesmoke;
    padding: 10px;
    flex: 1; /*full width*/
    background-color:transparent;
    outline:none;
    font-size: 16px;
    color: beige;
    display: flex;
}
.to-do{
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(74, 74, 74, 0.14);
    border-radius: 12px;
    border: 1px solid rgba(154, 148, 148, 0.125);
    width: 100%;
    border: 2px solid whitesmoke;
    max-width: 450px;
    padding-bottom: 50px;
}
.to-do input::placeholder{
    color:#bfbfbf;

}
.row{
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 20px;
    margin: 0 12px 0;
}
ul li{
    list-style: none;
    font-size: 25px;
    padding: 12px 8px 8px 50px;
    user-select:none;
    cursor: pointer;
    margin: 10px;
    color: beige;
    padding-right: 80px;
}
ul li::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    left: 8px;
    background-image: url("unchecked.png");
}
ul li.checked{
    font-weight: 100;
    text-decoration: line-through;
    
}
ul li.checked::before{
   background-image: url("checked.png");
}
ul li button{
    border-radius: 15px;
    border: none;
    padding: 5px;
    background-color:transparent;
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    right: 40px;
    cursor: pointer;
   font-weight: bold;
}
ul li button:hover{
    background: rgba(0,0,0,0.2);
}
